body{
    margin: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(219, 222, 224);

}

a{
    text-decoration: none;
}

.logo{
    width: 25em;
    height: 3.5em;
    padding: .5em 0 0 0;    

}
header{
    display: flex;
    justify-content: space-between;

    svg{
        width: 2em;
        margin-top: -.6em;
        cursor: pointer;
    }
}
.search-bar{
    display: none;
    margin: .5em 0 0 0;    
}
nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background:rgb(57, 57, 57);
    width: 20%;
    z-index: 20;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul{
        list-style: none;
        padding: 0;
        margin-top: 8em;

        a{
            padding: .75em 2em;
            display: block;

            &:hover{
                background:rgb(192, 192, 192);
            }
        }
    }
    .close{
        float: right;
        margin: 1em;
        width: 2em;
    }
}

.icons{
    width: 2em;
    height: 2em;
}

.profile-pic{
    width: 2em;
    height: 2em;
}
.mobile-icon{
    margin-top: .75em;
    width: 2em;
    height: 2em;
}
.selections {
    hr{
        margin: 0;
    }
    display: block;
    background-color: rgb(192, 192, 192);
    ul{
        display: flex;
        margin: 0;
        li{
            text-align: center;
            flex: 1;
            list-style: none;
            position: relative;
            }
        p{
            padding: .5em 0;
            margin: 0;
            a{
                text-decoration: none;
                color: black;
            }
            &:hover{
                text-decoration: underline;
                background-color: black;
                a{color: rgb(192, 192, 192);}
            }

            &::after{
                content: "";
                height: 3px;
                width: 0;
                background: rgb(57, 57, 57);
                position: absolute;
                left: 0;
                bottom: -.5px;
                transition: 1s;  
            }

            &:hover::after{
                width: 100%;
            }
        }  
    }
    }
.women{
    &:hover{
        .women-selections{
            display: block;

        }
    }
}
.men{
    &:hover{
        .men-selections{
            display: block;

        }
    }
}
.girls{
    &:hover{
        .girls-selections{
            display: block;

        }
    }
}
.boys{
    &:hover{
        .boys-selections{
            display: block;

        }
    }
}
.sec-selections{
    display: none;
    position: absolute;
    background-color: black;
    color: rgb(192, 192, 192);
    width: 100%;
    z-index: 99;
}
.hero{
    display: flex;
    gap: 8.9em;
    justify-content: center;
    align-items: center;


    div{
        text-align: center;
        .title{
            font-weight: bold;
            font-size: 1.5em;
        }
        img{
            width: 100%;
            height: 20em;
            object-fit: cover;
            border-radius: 50px;
            animation: introLoad 2s forwards;
        }
        .description{
            font-size: 1.25em;
        }
        .buy-now{
            width: 50%;
            height: 2em;
        }

    }
}
.shop-now{
    width: 30%;
    height: 2em;
    margin: 0 5%;
}

button{
    background-color: rgb(57,57, 57);
    border-radius:15px;
    color:rgb(192, 192, 192);
    border: none;

    &:hover{
        background-color:rgb(192, 192, 192);
        color: black;
    }
}
.top-clothes {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4em;
    margin-bottom: 3em;
    margin-top: 2em;
}
.gallery-item{
    padding: .7em;
    border: 1px solid rgb(178, 176, 176);
}
.official-partners{
    p{
        font-size: 1.5em;
        text-align: center;
    }
    div{
        width: 100%;
        margin-bottom: 3em;
            img{
                width: 10%;
                height: 10%;
                padding:1em 5em;
            }
    }
}

.open-nav{
    transform: translateX(0%);
}
.open-search{
    height: 100vh;
    background:rgb(57, 57, 57);
    width: 20%;        right: 5em;
    top: 1em;
    width: 100px;
    height: 20px;
    padding: 15px;
    z-index: 20;
    transition: transform .5s ease-in-out;

    .mobile-search-close{
        display: block;
        position: fixed;
        right: 1em;
        top: .5em;
        
    }
        display: block;
        position: fixed;


        a{
            .search{
                border-radius: 180px;


            }

        }

    }

.mobile-search-close{
    display: none;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: .1em;
    div{
        text-align: center;
        ul{
            padding: 0 1em;
            li{
                list-style: none;
            }
        }
    }
    hr{
        display: none;
    }
}
.social-icons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5em;
}

.fixed-header{
    padding-top: .5em;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    // display: flex;
    justify-content: center;
    background-color: #0ABAB5;
}

#popup {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the popup */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the popup when clicking on a button (class added with JavaScript) */
  #popup.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

@media only screen and (min-width: 680px){
 
    body{
        margin: 1.5em 4em;
    
    }

    .hero{
        div{
                  img{
            height:30em;
        }  
        }

    }

    .top-clothes{
        grid-template-columns: repeat(3, auto);
    }
}
@media only screen and (min-width: 920px){
    .hero{
        div{
            margin: 0 7em;
        }
    }
        .buy-now{
            width: 15em;
            height: 3em;
            margin: 1em 5em;
        }
        .shop-now{
            width: 15em;
            height: 3em;
            margin: 0 8em;
        }
 
    .mobile-icon{
        display: none;

    }
    .search-bar{
        display: block;
        position: unset;
        a{
            .search{
                border-radius: 180px;
                width: 400px;
                height: 50px;
                padding: 15px;
            }

        }

    }

    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        width:auto;
        height:auto;
        background: none;

        svg.close{
            display: none;
        }
        ul{
            display: flex;
            margin: 0;

            a{
                padding: .5em 1.8em;
                &:hover{
                    background: none;

                }
            }
        }

    }

    .icons{
        width: 3em;
        height: 3em;
        border: 2.2px solid rgb(219, 222, 224);


        &:hover{
            border-radius: 180px;
            border-color: black;
        }
    }
    .profile-pic{
        width: 3em;
        height: 3em;
        border: 2.2px solid rgb(219, 222, 224);
        border-radius: 180px;

        &:hover{
            border-color: black;
        }
    }
    .social-icons{
        grid-template-columns: repeat(5, auto);
        gap: .5em;
    }
    footer{
        hr{
            display: inherit;
        }
    }
}
@media only screen and (min-width: 1200px){
    .top-clothes{
        grid-template-columns: repeat(4, auto);
    }
    .hero{
        gap:em;
        div{
                  img{
            height:30em;
        }  
        }

    }
}
@media only screen and (min-width: 1350px){
    .logo{
        margin: 0 2em 0 10em;
    }
    .top-clothes{
        grid-template-columns: repeat(5, auto);
    }
}
@keyframes introLoad{
    from {
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);    }
    to{
        clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 57%, 100% 100%, 51% 100%, 0 100%, 0 59%, 0 35%, 0 0);    }
}